@use '../autocomplete/autocomplete-showcase.component.scss' as base;

.example-field {
    width: 100%;
    max-width: 300px;
}

.selected-value {
    margin-top: 16px;
    color: var(--mat-sys-on-surface-variant);
}